@import 'https://fonts.googleapis.com/css?family=VT323';
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

header {
  background: #414141;
  padding: 1.5rem 1rem;
  color: white;
  font-size: 1.3rem;
  font-family: "VT323", monospace;
}

header h4 {
  position: relative;
  color: #bcbcbc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header h4::after {
  content: '';
  position: relative;
  margin-left: 0.86667rem;
  bottom: .5em;
  width: 100%;
  display: inline-block;
  border-bottom: 2px solid lime;
}

header img {
  width: 2.6rem;
  margin: -2.35em 0;
  float: right;
}

header img:hover {
  -webkit-animation: .5s tada;
          animation: .5s tada;
}

nav ul {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #333333;
  font-family: "VT323", monospace;
  font-size: 1.3rem;
}

nav ul li {
  border-right: 0.05em solid #595959;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav ul a {
  display: block;
  padding: 1em 1.2em;
  transition: .3s background ease-in-out;
  width: 100%;
  color: white;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
}

nav ul a:hover {
  background: #3b3b3b;
}

nav object {
  display: none;
}

#recent {
  padding: 1em 1.5em;
  max-width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: #787878;
}

.social {
  fill: #333;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
}

aside {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: .5em .75em;
  background: #b3b3b3;
}

aside a {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: block;
}

aside object {
  background: white;
  width: 1.75em;
  display: block;
  pointer-events: none;
  margin-top: .5em;
}

iframe {
  display: inline-block;
  width: 33vw;
  height: 18.5625vw;
  max-width: 700px;
  margin: auto;
  margin-bottom: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e6e6e6;
}

main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: scroll;
}

@media (max-width: 75em) {
  iframe {
    width: 60vw;
    height: 33.75vw;
    max-width: 700px;
  }
}

/*# sourceMappingURL=style.css.map */