@import 'https://fonts.googleapis.com/css?family=VT323';
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

header {
  background: #575757;
  padding: 1.5rem 1rem;
  color: white;
  font-size: 1.2rem;
  font-family: "VT323", monospace;
}

header h4 {
  position: relative;
  color: #c4c4c4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header h4::after {
  content: '';
  margin-left: 0.8rem;
  position: relative;
  bottom: 0.6rem;
  width: 100%;
  border-bottom: 1px solid lime;
  display: inline-block;
}

header img {
  width: 2em;
  height: 2em;
  margin-top: -2.5em;
  float: right;
}

header img:hover {
  -webkit-animation: .5s tada;
          animation: .5s tada;
}

svg {
  display: none;
}

nav ul {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #4a4a4a;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

nav ul li {
  border-right: 1px solid #8a8a8a;
}

nav ul a {
  display: inline-block;
  padding: 1.5rem 1rem;
  transition: .3s background ease-in-out;
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  background: #525252;
}

#recent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: auto;
}

#recent .embed-container {
  margin: 1em 1.5em;
}

svg {
  fill: #4a4a4a;
  width: 1.2rem;
  height: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=style.css.map */