@import partials/variables
@import partials/mixins
header h4::after
  display: none
nav
  ul
    flex-direction: column
    transition: .3s height ease-in-out
    overflow: hidden
    height: 0px

    &.visible
      height: $mobile-nav-height
    a
      width: inherit

  object
    display: block
    background: $nav
    height: $size*2
    width: 100%
    padding: $size/2.5 0
    transition: .3s background ease-in-out
    cursor: pointer
    pointer-events: none

.menu
  fill: contrast($theme)
