@import partials/variables
nav ul
  flex-direction: column
  transition: .3s height ease-in-out
  overflow: hidden
  height: 0px
  margin-top: 0em

  &.visible
    height: $mobile-nav-height
  a
    width: 100%
    overflow: hidden


nav svg
  background: $nav
  display: block
  padding: .5em 50%
  height: 2.5em
  // overflow: visible
  transition: .3s background ease-in-out
  fill: white
  cursor: pointer

  &:hover
    background: lighten($nav, 3)
