*
  // box-sizing: border-box
  margin: 0
  padding: 0

html, body
  height: 100vh
  width: 100vw

@import 'https://fonts.googleapis.com/css?family=VT323'
@import partials/variables
@import partials/mixins
@import partials/header
@import partials/navigation
