extends includes/layout.jade

block content
  
  //- h1 plz
  form(action='https://formspree.io/8bitarmadayt@gmail.com', method='POST')
    input(type='text', name='name')
    input(type='email', name='_replyto')
    input(type='submit', value='Send')
