extends includes/layout.jade

block content
  include sections/header.jade
  include sections/navigation.jade
  include sections/recent.jade
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js")
  script(src="js/mobile.js")
