html
  head
    include mixins.jade
    link(rel='stylesheet', href='css/style.css')
  body
    include sections/header.jade
    include sections/navigation.jade
    //- include sections/recent.jade
    
