nav
<<<<<<< HEAD
  include:verbatim ../../img/icons/menu.svg
=======
  img#toggle(src="img/toggle.png")
>>>>>>> parent of 00a0cae... svg menu
  ul
    li: a(href='/') Home
    li: a(href='/contact-us.html') Contact Us
    li: a(href='/schedule.html') Schedule
