nav
  img#toggle(src='https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png')
  ul
    li: a(href='/') Home
    li: a(href='/contact-us.html') Contact Us
    li: a(href='/schedule.html') Schedule
