aside
  a(href='https://plus.google.com/115148620881607946333'): object(type='image/svg+xml', data='/img/icons/google-plus.svg') Google Plus
  a(href='http://twitter.com/8BitArmadaYT'): object(type='image/svg+xml', data='/img/icons/twitter.svg') Twitter
  a(href='https://www.youtube.com/channel/UCL130AuIDun8TMkHDytNJbw'): object(type='image/svg+xml', data='/img/icons/youtube.svg') Youtube
  a(href='https://www.github.com/8BitArmada'): object(type='image/svg+xml', data='/img/icons/github.svg') Github
