aside
  a(href='https://plus.google.com/115148620881607946333'): object(type='image/svg+xml', data='/img/icons/google-plus.svg', wmode='windpw') Google Plus
  a(href='http://twitter.com/8BitArmadaYT'): object(type='image/svg+xml', data='/img/icons/twitter.svg', wmode='windpw') Twitter
  a(href='https://www.youtube.com/channel/UCL130AuIDun8TMkHDytNJbw'): object(type='image/svg+xml', data='/img/icons/youtube.svg', wmode='windpw') Youtube
