- var title = '8-Bit Armada'
- var tagline = 'creating quality gaming videos'
- var logo_path = '/img/logo.png'

- var videos = ['PhdIh7x9lZw', 'Kmvi-t_XlVc']

-
  var nav =
  [
    {
      name: 'Home',
      url: '/'
    },
    {
      name: 'Schedule',
      url: '/schedule'
    },
    {
      name: 'Contact Us',
      url: 'contact-us'
    }
  ]
