- var title = '8-Bit Armada'
- var tagline = 'creating quality gaming videos'
- var logo_path = '/img/logo.png'

- var videos = ['PhdIh7x9lZw', 'Kmvi-t_XlVc']

-
  var nav = 
  [
    {
      playlistId: 'Home',
      duration: '/'
    },
    {
      playlistId: 'Schedule',
      duration: '/schedule'
    },
    {
      playlistId: 'Contact Us',
      duration: 'contact-us'
    }
  ]
