doctype html
// Entypo pictograms by Daniel Bruce — www.entypo.com
html
  head
    link(rel="stylesheet", type="text/css", href="css/style.css")
    script(type="application/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    script(type="application/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
    include mixins.jade
  body
    block content
      include ../sections/header.jade
      include ../sections/navigation.jade
