doctype html
// Entypo pictograms by Daniel Bruce — www.entypo.com
html
  head
    link(rel="stylesheet", type="text/css", href="css/style.css")
    include mixins.jade
  body
    block content
      include ../sections/header.jade
      include ../sections/navigation.jade
