#recent
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  margin: auto

  .embed-container
    margin: 1em 1.5em

svg
  fill: $theme
  width: $size
  height: $size
  overflow: visible
  margin-left: $size/2
