#recent
  padding: 1em 1.5em
  max-width: 100%
  justify-content: space-between
  display: flex
  flex-wrap: wrap
  background: mix($theme, contrast($theme), 66)
  @media (max-width: 47.5em)
    #recent
      flex-direction: column


.social
  fill: $theme
  flex: 1
  display: block

aside
  width: 100vw
  position: fixed
  bottom: 0
  padding: .5em .75em
  background: mix($theme, contrast($theme), 50)

  a
    width: min-content
    display: block

  object
    background: contrast($theme)
    width: $icon-size
    display: block
    pointer-events: none
    margin-top: .5em

iframe
  display: inline-block
  +youtube(33vw)
  margin: auto
    bottom: 1em
