header
  background: mix($theme, contrast($theme), 93)
  padding: $padding
  color: contrast($theme)
  font:
    size: $size
    family: $font

  h2
    position: relative
    color: mix($theme, contrast($theme), 33)
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-size: 1.15em

    &::after
      content: ''
      position: relative
      margin-left: .5em
      bottom: .25em
      width: 100%
      display: inline-block
      border-bottom: 2px solid $accent

  img
    width: 2em
    margin: -2.2em 0
    float: right

    &:hover
      animation: .5s tada
