nav
	ul
		list-style: none
		display: flex
		background: $nav
		font:
			family: $font
			size: $size
		li
			border-right: .05em solid lighten($nav, 15)
			flex-grow: 1
		a
			display: block
			padding: 1em 1.2em
			transition: .3s background ease-in-out
			width: 100%
			color: contrast($theme)
			font-size: 1.1em
			text:
				align: center
				decoration: none

			&:hover
				background: lighten($nav, 3)

	object
		display: none
