@import mixins
// Colors
$theme: #4a4a4a
$header: mix($theme, contrast($theme), 93)
$accent: lime
$nav: mix($theme, contrast($theme), 100)

// Sizing
$padding: 1.5rem 1rem
$size: 1.5rem
// Typography
$font: 'VT323', monospace

$mobile-nav-height: pxToEm(113)
$icon-size: 5px
