extends includes/layout.jade

block content
  form.hide(action='https://formspree.io/8bitarmadayt@gmail.com', method='POST')
    input(type='text', name='name' placeholder='Your name')
    input(type='email', name='_replyto' placeholder='Your Email')
    textarea(name='message', placeholder="Your Message")
    input(type='submit', value='Send')
